@using System.Globalization
@model Portal_Kulinarny.Models.Recipe

<div>
    <hr />

    <h3>@Html.DisplayFor(model => model.Title)</h3> <br /><br />

    <img src="@Url.Content(Model.Image)" alt="image" width="120" height="120" /> <br /><br />

    @Html.DisplayNameFor(model => model.AuthorName): <span> </span>
    @Html.DisplayFor(model => model.AuthorName) <br /><br />

    @Html.DisplayNameFor(model => model.AddDate): <span> </span>
    @Html.DisplayFor(model => model.AddDate) <br /><br />

    @Html.DisplayNameFor(model => model.PreparationTime): <span> </span>
    @Html.DisplayFor(model => model.PreparationTime)
    @Html.Action("ValidMinutesForm", new { minutes = Model.PreparationTime }).ToString() <br /><br />

    Treść przepisu:<br />
    @Html.DisplayFor(model => model.Content) <br /><br />

    Oceny: <span> </span>
    @Html.DisplayFor(model => model.AverageGrade)<br /><br />

    Składniki (@Model.Ingredients.Count): <br />
            
    <ul>
        @foreach (var ingred in Model.Ingredients)
        {
            <li> @ingred.IngredientName @ingred.Quantity @Html.Action("ValidWordForm", new { unitName = ingred.Unit, quantity = ingred.Quantity }) </li>
        }
    </ul>
</div>

<br />
@*<div class="VoteSystem">
    <div class="td0">Oceń potrawę</div>
    <div id="Now" class="td">@Html.Partial("VoteNow", Model.RecipeId.ToString(CultureInfo.InvariantCulture))</div>
    <div id="Show" class="td">@Html.Partial("VoteShow", Model.Votes, new ViewDataDictionary { { "id", Model.RecipeId } })</div>
</div>*@

<br />

    <div class="CommentSystem">
        @Html.Partial("Comments", Model.Comments, new ViewDataDictionary { { "id", Model.RecipeId } })
    </div>  

<p>
@if (Model.AuthorName == HttpContext.Current.User.Identity.Name || User.IsInRole("Admins"))
{
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.RecipeId }) <span>|</span>
}
    @Html.ActionLink("Wróć do listy", "Index")
</p>

@section Scripts {

    @Scripts.Render("~/Scripts/AplikacjaKulinarna/AddVote.js")    
    @Scripts.Render("~/Scripts/AplikacjaKulinarna/AjaxComments.js")
    @Scripts.Render("~/bundles/jqueryval")
}