@model IEnumerable<Portal_Kulinarny.Models.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Przepisy</h2> <br />

<p>
    @Html.ActionLink("Dodaj nowy przepis", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.RecipeId }) |
            @Html.ActionLink("Szczegoly", "Details", new { id=item.RecipeId }) |
            @Html.ActionLink("Usun", "Delete", new { id=item.RecipeId })
        </td>
    </tr>
}

</table>
