@model IEnumerable<Portal_Kulinarny.Models.Recipe>

@foreach (var item in Model)
{
    <div class="miniature">
        <div id="photoIndex">
            <a href="@Url.Action("Details", new { id = item.RecipeId})">
                <img src="@Url.Content(item.Image)" alt="image" width="150" height="150" />
            </a>
        </div>
        <div class="RecipeTitle">
            <b>@Html.DisplayFor(modelItem => item.Title)</b>
        </div>

        <div id="ShortInfo">
            <label><b>Autor: </b></label> @Html.DisplayFor(modelItem => item.AuthorName)
            <br />
            <label><b>Czas przygotowania: </b></label> @Html.DisplayFor(modelItem => item.PreparationTime) @Html.Action("ValidMinutesForm", new { minutes = item.PreparationTime }).ToString()
            <br />
            <label><b>Ocena : </b></label> @Html.DisplayFor(modelItem => item.AverageGrade)
        </div>

        <div id="ChoseButtons">
            @Html.ActionLink("Szczegóły", "Details", new { id = item.RecipeId })
            @if (item.AuthorName == HttpContext.Current.User.Identity.Name || User.IsInRole("Admins"))
            {
                <span>|</span> @Html.ActionLink("Edytuj", "Edit", new { id = item.RecipeId }) <span>|</span>
                @Html.ActionLink("Usuń", "Delete", new { id = item.RecipeId })
            }
        </div>
    </div>
    <div id="DivCleaner">

    </div>

    <br />
    <br />
}